<!DOCTYPE html>
<html>
<head>
    <title>Rockin' Legends - Events</title>
</head>
<body>
     <h1>Upcoming Events</h1>
  <ul>
    {% for event in upcoming_events %}
      <li>
        <h3>{{ event.title }}</h3>
        <p>Date: {{ event.date }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Description: {{ event.description }}</p>
      </li>
    {% empty %}
      <li>No upcoming events</li>
    {% endfor %}
  </ul>
    <h2>Contact Us</h2>
    <p>Phone: +27 (06) 1234 789 / +27 (060) 3445 980</p>
    <p>Email: bookings@rockinlegends.com</p>
    <p>Facebook: Rockin' Legends Worldwide</p>
    <p>Instagram: Rockin' Legends Worldwide</p>
    <p>Twitter: Rockin' Legends Worldwide</p>
   </body>
</html>

